/*socialed-style.css */
/* Own stylesheet for SocialED */

#container {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: white; 
  padding-left: 20px;
  background-color: rgba(76, 76, 240, 0.842); 
  margin: 10px;
  border: black solid 10px;
}
a:link{
 color:rgb(29, 26, 26);

 }
a:hover {
  color:white;
}
h1 {
   color:white;
   font-size:50px
}

form {
  border: 2px solid black;}

label {
  background-color: coral;
}

body{
background: #fff;
color: #1c1e21;
direction: ltr;
line-height: 1.34;
margin: 0;
padding: 0;
unicode-bidi: embed;
}

.inputs {
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 border:1px solid #08298A;
 height:25px;
 padding-left:3px; 
}

