/*socialed-style.css */
/* Own stylesheet for SocialED */

#container {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  padding-left: 20px;
  background-color: #FFFFFF; /* beige */
  font-color: #2A2929; /* dark grey */
  margin: 10px;
}
a:link{
 background-color: gray;
 color:darkcyan;
 font-weight: bold;
 }
a:hover {
  color:purple;
  background-color: yellowgreen;
}
h1 {
   color: burlywood;
   font-size: 20pt;
}
form {
width: fit-content;
padding: 15px;
border: 2px solid lightcoral;
background-color: beige;
}
label {
font-weight: bold;
color: burlywood;
}
.inputs {
padding: 15px;
}
