/*socialed-style.css */
/* Own stylesheet for SocialED */

#container {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  padding-left: 20px;
  background-color: #FFFFFF; /* beige */
  color: #2A2929; /* dark grey */
  margin: 10px;
}
a:link{
  background-color: lightgray;
  color: dodgerblue;
  font-weight: bold;
  padding: 2px;
  text-decoration: none;
 }
a:hover {
  color: orange;
  background-color:lemonchiffon;
}
h1 {
  color: lightseagreen;
  font-size: 20pt;
}
form {
  width: fit-content;
  padding: 10px;
  border: 3px solid lightseagreen;
  background-color: honeydew;
}
label {
  font-weight: bold;
  color: lightseagreen;
}
.inputs {
  padding: 10px;
}

