/*socialed-style.css */
/* Own stylesheet for SocialED */

#container {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: medium;
  padding-left: 20px;
  background-color: blue; 
  font-color: white; 
  margin: 10px;
  border: black solid 10px;
}
a:link{
 color:rgb(29, 26, 26);

 }
a:hover {
  color:green;
}
h1 {
   color:white;
   font-size:50px
}

form {





}
label {





}
.inputs {




}

