/*socialed-style.css */
/* Own stylesheet for SocialED */

#container {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: white; 
  padding-left: 20px;
  background-color: rgba(76, 76, 240, 0.842); 
  margin: 10px;
  border: black solid 10px;
}

a:link{
  background-color: lightgray;
  color: dodgerblue;
  font-weight: bold;
  padding: 2px;
  text-decoration: none;
 }

a:hover {
  color: orange;
  background-color:lemonchiffon;
}

h1 {
  color: lightseagreen;
  font-size: 20pt;
}

form {
width: fit-content;
padding: 15px;
border: 2px solid lightcoral;
background-color: beige;
}

label {
font-weight: bold;
color: burlywood;
}

body{
background: #fff;
color: #1c1e21;
direction: ltr;
line-height: 1.34;
margin: 5px;
padding: 5px;
unicode-bidi: embed;
}

.inputs {
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 border:1px solid #08298A;
 height:25px;
 padding-left:3px; 
}
